In [1]:
import pandas as pd

In [2]:
#读取贵州茅台的文件数据
gzmt = pd.read_csv(R'C:\Users\LENOVO\Desktop\statistic\data\600519.csv')

In [3]:
gzmt.info

<bound method DataFrame.info of              day  STOCK_CODE    open   close  maximum  minimum  volume  \
0     2001-08-27     6005191   34.51   35.55    37.78    32.85  406318
1     2001-08-28     6005191   34.99   36.86    37.00    34.61  129647
2     2001-08-29     6005191   36.98   36.38    37.00    36.10   53252
3     2001-08-30     6005191   36.28   37.10    37.51    36.00   48013
4     2001-08-31     6005191   37.15   37.01    37.62    36.80   23231
...          ...         ...     ...     ...      ...      ...     ...
4089  2018-10-29     6005191  549.09  549.09   549.09   549.09   49076
4090  2018-10-30     6005191  510.00  524.00   543.00   509.02  204397
4091  2018-10-31     6005191  527.00  548.90   555.00   522.00   96885
4092  2018-11-01     6005191  555.00  563.00   585.50   551.25   98107
4093  2018-11-02     6005191  585.00  599.90   600.00   572.24   89157

         TURNOVER
0      1410347008
1       463463008
2       194689000
3       177558000
4        86231000
...           ...
4089   2694714080
4090  10663392512
4091   5239853056
4092   5581027328
4093   5227695104

[4094 rows x 8 columns]>

In [4]:
gzmt.describe

<bound method NDFrame.describe of              day  STOCK_CODE    open   close  maximum  minimum  volume  \
0     2001-08-27     6005191   34.51   35.55    37.78    32.85  406318
1     2001-08-28     6005191   34.99   36.86    37.00    34.61  129647
2     2001-08-29     6005191   36.98   36.38    37.00    36.10   53252
3     2001-08-30     6005191   36.28   37.10    37.51    36.00   48013
4     2001-08-31     6005191   37.15   37.01    37.62    36.80   23231
...          ...         ...     ...     ...      ...      ...     ...
4089  2018-10-29     6005191  549.09  549.09   549.09   549.09   49076
4090  2018-10-30     6005191  510.00  524.00   543.00   509.02  204397
4091  2018-10-31     6005191  527.00  548.90   555.00   522.00   96885
4092  2018-11-01     6005191  555.00  563.00   585.50   551.25   98107
4093  2018-11-02     6005191  585.00  599.90   600.00   572.24   89157

         TURNOVER
0      1410347008
1       463463008
2       194689000
3       177558000
4        86231000
...           ...
4089   2694714080
4090  10663392512
4091   5239853056
4092   5581027328
4093   5227695104

[4094 rows x 8 columns]>

In [5]:
gzmt[['open','close']].describe

<bound method NDFrame.describe of         open   close
0      34.51   35.55
1      34.99   36.86
2      36.98   36.38
3      36.28   37.10
4      37.15   37.01
...      ...     ...
4089  549.09  549.09
4090  510.00  524.00
4091  527.00  548.90
4092  555.00  563.00
4093  585.00  599.90

[4094 rows x 2 columns]>

In [6]:
result = gzmt['open'].unique

In [7]:
result2 = gzmt.close.value_counts

In [8]:
df = pd.DataFrame({'依次售卖奶茶的名称':['生椰拿铁','草莓波波','桑葚霉霉','草莓波波','桑葚霉霉','桑葚霉霉'],
                   '每次售卖奶茶的杯数':['3','7','4','6','1','4']})
df.groupby('依次售卖奶茶的名称')['每次售卖奶茶的杯数'].sum()

依次售卖奶茶的名称
桑葚霉霉    414
生椰拿铁      3
草莓波波     76
Name: 每次售卖奶茶的杯数, dtype: object